Repository arsham/git-hotspots, changes with the labels that .github/labeler.yml gives for each.
All labels: discovery, test, documentation, ci

.github/labeler.yml:

discovery:
  - discovery.rs
  - discovery/*
  - discovery/**/*

test:
  - utilities/*
  - utilities/**/*

documentation:
  - README.md

ci:
  - .github/*
  - .github/**/*

chore: complete rename-aware lineage
  .flow/features/0018_rename-aware-file-lineage/feature.yaml
  .flow/project.yaml
Labels: none

chore: plan project-scope exclusions
  .flow/features/0019_better-project-scope-exclusions/feature.yaml
  .flow/features/0019_better-project-scope-exclusions/prd.md
  .flow/project.yaml
Labels: none

chore: prepare project-scope
  .flow/features/0019_better-project-scope-exclusions/feature.yaml
Labels: none

feat: add better project scope exclusions
  README.md
  fixtures/expected/basic-inspect.json
  fixtures/expected/basic-inspect.md
  fixtures/expected/basic-inspect.txt
  fixtures/expected/basic.json
  fixtures/expected/basic.md
  fixtures/expected/explain.txt
  fixtures/expected/scope-filtered.json
  fixtures/expected/scope-filtered.md
  fixtures/expected/scope-project.json
  fixtures/expected/scope-project.md
  src/explain.zig
  src/main.zig
  tests/integration.sh
  tools/setup-fixtures.sh
  tools/validate.sh
Labels: documentation

chore: complete project scope exclusions
  .flow/features/0019_better-project-scope-exclusions/feature.yaml
  .flow/project.yaml
Labels: none

chore: plan provider evidence contract
  .flow/features/0020_provider-contract-and-symbol-evidence-design/feature.yaml
  .flow/features/0020_provider-contract-and-symbol-evidence-design/prd.md
  .flow/project.yaml
  docs/provider-symbol-evidence-contract.md
Labels: none

chore: prepare provider contract
  .flow/features/0020_provider-contract-and-symbol-evidence-design/feature.yaml
Labels: none

feat: add provider contract design
  .flow/features/0020_provider-contract-and-symbol-evidence-design/feature.yaml
  .flow/project.yaml
  docs/provider-symbol-evidence-contract.md
Labels: none

chore: plan provider symbol seam
  .flow/features/0021_provider-symbol-evidence-seam/feature.yaml
  .flow/features/0021_provider-symbol-evidence-seam/prd.md
  .flow/project.yaml
Labels: none

chore: prepare provider seam
  .flow/features/0021_provider-symbol-evidence-seam/feature.yaml
Labels: none

feat: add provider symbol seam
  .flow/features/0021_provider-symbol-evidence-seam/feature.yaml
  .flow/project.yaml
  docs/provider-symbol-evidence-contract.md
  src/main.zig
  src/provider.zig
Labels: none

chore: plan Tree-sitter Zig feasibility
  .flow/features/0022_tree-sitter-zig-symbol-provider-spike/feature.yaml
  .flow/features/0022_tree-sitter-zig-symbol-provider-spike/prd.md
  .flow/project.yaml
Labels: none

chore: prepare Tree-sitter feasibility
  .flow/features/0022_tree-sitter-zig-symbol-provider-spike/feature.yaml
Labels: none

feat: add Tree-sitter Zig feasibility
  .flow/features/0022_tree-sitter-zig-symbol-provider-spike/feature.yaml
  .flow/project.yaml
  docs/tree-sitter-zig-provider-spike.md
Labels: none

chore: plan Tree-sitter dependency review
  .flow/features/0023_tree-sitter-dependency-review-and-vendoring-plan/feature.yaml
  .flow/features/0023_tree-sitter-dependency-review-and-vendoring-plan/prd.md
  .flow/project.yaml
Labels: none

chore: prepare Tree-sitter dependency
  .flow/features/0023_tree-sitter-dependency-review-and-vendoring-plan/feature.yaml
Labels: none

feat: add Tree-sitter dependency review
  .flow/features/0023_tree-sitter-dependency-review-and-vendoring-plan/feature.yaml
  .flow/project.yaml
  docs/tree-sitter-dependency-vendoring-plan.md
Labels: none

chore: plan Tree-sitter vendoring readiness
  .flow/features/0024_tree-sitter-vendored-source-import-proof/feature.yaml
  .flow/features/0024_tree-sitter-vendored-source-import-proof/prd.md
  .flow/project.yaml
Labels: none

chore: prepare vendoring readiness
  .flow/features/0024_tree-sitter-vendored-source-import-proof/feature.yaml
Labels: none

feat: add vendoring readiness
  .flow/features/0024_tree-sitter-vendored-source-import-proof/feature.yaml
  .flow/project.yaml
  docs/tree-sitter-vendoring-readiness.md
Labels: none

chore: plan Tree-sitter source import proof
  .flow/features/0025_tree-sitter-source-import-proof/feature.yaml
  .flow/features/0025_tree-sitter-source-import-proof/prd.md
  .flow/project.yaml
Labels: none

chore: prepare Tree-sitter source import
  .flow/features/0025_tree-sitter-source-import-proof/feature.yaml
Labels: none

chore: plan Tree-sitter offline build proof
  .flow/features/0026_tree-sitter-offline-build-integration-proof/feature.yaml
  .flow/features/0026_tree-sitter-offline-build-integration-proof/prd.md
  .flow/project.yaml
Labels: none

chore: prepare Tree-sitter build proof
  .flow/features/0026_tree-sitter-offline-build-integration-proof/feature.yaml
Labels: none

feat: add Tree-sitter build proof
  build.zig
  docs/tree-sitter-source-import-evidence.md
  tests/tree_sitter_build_proof.zig
Labels: none

chore: complete Tree-sitter build proof
  .flow/features/0026_tree-sitter-offline-build-integration-proof/feature.yaml
  .flow/project.yaml
Labels: none

chore: plan Tree-sitter symbol extraction proof
  .flow/features/0027_tree-sitter-zig-symbol-extraction-proof/feature.yaml
  .flow/features/0027_tree-sitter-zig-symbol-extraction-proof/prd.md
  .flow/project.yaml
Labels: none

chore: prepare symbol extraction
  .flow/features/0027_tree-sitter-zig-symbol-extraction-proof/feature.yaml
Labels: none

feat: add Tree-sitter symbol proof
  .flow/features/0027_tree-sitter-zig-symbol-extraction-proof/feature.yaml
  .flow/project.yaml
  build.zig
  docs/tree-sitter-source-import-evidence.md
  tests/tree_sitter_symbol_proof.zig
Labels: none

chore: plan inspect-only symbol output
  .flow/features/0028_inspect-only-tree-sitter-zig-symbol-output/feature.yaml
  .flow/features/0028_inspect-only-tree-sitter-zig-symbol-output/prd.md
  .flow/project.yaml
Labels: none

chore: prepare symbol output
  .flow/features/0028_inspect-only-tree-sitter-zig-symbol-output/feature.yaml
Labels: none

chore: complete inspect Zig symbols
  .flow/features/0028_inspect-only-tree-sitter-zig-symbol-output/feature.yaml
  .flow/project.yaml
Labels: none

feat: add inspect Zig symbols
  .gitignore
  README.md
  build.zig
  fixtures/expected/explain.txt
  fixtures/expected/symbols-inspect-symbols.json
  fixtures/expected/symbols-inspect-symbols.md
  fixtures/expected/symbols-inspect-symbols.txt
  fixtures/expected/symbols-symlink-unavailable.json
  fixtures/expected/symbols-unsupported.json
  src/explain.zig
  src/main.zig
  src/model.zig
  src/report.zig
  src/tree_sitter_zig.zig
  tests/integration.sh
  tools/setup-fixtures.sh
  tools/validate.sh
Labels: documentation

chore: plan symbol line-history evidence
  .flow/features/0029_inspect-only-symbol-line-history-evidence/feature.yaml
  .flow/features/0029_inspect-only-symbol-line-history-evidence/prd.md
  .flow/project.yaml
Labels: none

chore: prepare symbol line-history
  .flow/features/0029_inspect-only-symbol-line-history-evidence/feature.yaml
Labels: none

feat: add symbol line history
  .gitignore
  README.md
  fixtures/expected/explain.txt
  fixtures/expected/line-history-success.json
  fixtures/expected/line-history-success.md
  fixtures/expected/line-history-success.txt
  src/explain.zig
  src/git.zig
  src/main.zig
  src/model.zig
  src/provider.zig
  src/report.zig
  src/tree_sitter_zig.zig
  tests/integration.sh
  tools/setup-fixtures.sh
Labels: documentation

chore: complete symbol line history
  .flow/features/0029_inspect-only-symbol-line-history-evidence/feature.yaml
  .flow/project.yaml
Labels: none

chore: plan CI validation workflow
  .flow/features/0030_ci-validation-workflow/feature.yaml
  .flow/features/0030_ci-validation-workflow/prd.md
  .flow/project.yaml
Labels: none

chore: prepare CI validation
  .flow/features/0030_ci-validation-workflow/feature.yaml
Labels: none

feat: add CI validation workflow
  .flow/features/0030_ci-validation-workflow/feature.yaml
  .flow/project.yaml
  .github/workflows/ci.yml
Labels: ci
