Repository arsham/git-hotspots, changes with the labels that .github/labeler.yml gives for each.
All labels: discovery, test, documentation, ci

chore: plan CI status verification
  .flow/features/0031_ci-status-documentation-and-post-push-verification/feature.yaml
  .flow/features/0031_ci-status-documentation-and-post-push-verification/prd.md
  .flow/project.yaml
Labels: none

chore: prepare CI status
  .flow/features/0031_ci-status-documentation-and-post-push-verification/feature.yaml
Labels: none

feat: add CI status verification
  .flow/features/0031_ci-status-documentation-and-post-push-verification/feature.yaml
  .flow/project.yaml
  CONTRIBUTING.md
Labels: none

chore: plan symbol evidence summaries
  .flow/features/0032_symbol-evidence-summary-and-sorting/feature.yaml
  .flow/features/0032_symbol-evidence-summary-and-sorting/prd.md
  .flow/project.yaml
Labels: none

chore: prepare symbol summary
  .flow/features/0032_symbol-evidence-summary-and-sorting/feature.yaml
Labels: none

chore: complete symbol evidence summaries
  .flow/features/0032_symbol-evidence-summary-and-sorting/feature.yaml
  .flow/project.yaml
Labels: none

feat: add symbol evidence summaries
  fixtures/expected/line-history-success.json
  fixtures/expected/line-history-success.md
  fixtures/expected/line-history-success.txt
  fixtures/expected/symbols-inspect-symbols.json
  fixtures/expected/symbols-limit.md
  fixtures/expected/symbols-limit.txt
  fixtures/expected/symbols-symlink-unavailable.json
  fixtures/expected/symbols-unsupported.json
  src/main.zig
  src/model.zig
  src/report.zig
  tests/integration.sh
  tools/validate.sh
Labels: none

chore: plan public demo snapshot
  .flow/features/0033_public-demo-report-snapshot/feature.yaml
  .flow/features/0033_public-demo-report-snapshot/prd.md
  .flow/project.yaml
Labels: none

chore: prepare public demo
  .flow/features/0033_public-demo-report-snapshot/feature.yaml
Labels: none

feat: add demo report snapshot
  .flow/features/0033_public-demo-report-snapshot/feature.yaml
  .flow/project.yaml
  docs/demo-report.md
Labels: none

chore: plan Tree-sitter language strategy
  .flow/features/0034_tree-sitter-multi-language-and-query-strategy/feature.yaml
  .flow/features/0034_tree-sitter-multi-language-and-query-strategy/prd.md
  .flow/project.yaml
Labels: none

chore: prepare Tree-sitter strategy
  .flow/features/0034_tree-sitter-multi-language-and-query-strategy/feature.yaml
Labels: none

feat: add Tree-sitter language strategy
  .flow/features/0034_tree-sitter-multi-language-and-query-strategy/feature.yaml
  .flow/project.yaml
  docs/tree-sitter-multi-language-query-strategy.md
Labels: none

chore: plan Go grammar admission review
  .flow/features/0035_tree-sitter-go-grammar-admission-review/feature.yaml
  .flow/features/0035_tree-sitter-go-grammar-admission-review/prd.md
  .flow/project.yaml
Labels: none

chore: prepare Go grammar admission
  .flow/features/0035_tree-sitter-go-grammar-admission-review/feature.yaml
Labels: none

feat: add Go grammar admission review
  .flow/features/0035_tree-sitter-go-grammar-admission-review/feature.yaml
  .flow/project.yaml
  docs/tree-sitter-go-grammar-admission.md
Labels: none

chore: plan Go source import proof
  .flow/features/0036_tree-sitter-go-source-import-proof/feature.yaml
  .flow/features/0036_tree-sitter-go-source-import-proof/prd.md
  .flow/project.yaml
Labels: none

chore: prepare Go source import
  .flow/features/0036_tree-sitter-go-source-import-proof/feature.yaml
Labels: none

feat: add Go source import proof
  .flow/features/0036_tree-sitter-go-source-import-proof/feature.yaml
  .flow/project.yaml
  THIRD_PARTY_NOTICES.md
  docs/tree-sitter-go-source-import-evidence.md
  third_party/tree-sitter-go/v0.25.0/IMPORTED_FILES.tsv
  third_party/tree-sitter-go/v0.25.0/LICENSE
  third_party/tree-sitter-go/v0.25.0/PROVENANCE.md
  third_party/tree-sitter-go/v0.25.0/grammar.js
  third_party/tree-sitter-go/v0.25.0/src/grammar.json
  third_party/tree-sitter-go/v0.25.0/src/node-types.json
  third_party/tree-sitter-go/v0.25.0/src/parser.c
  third_party/tree-sitter-go/v0.25.0/src/tree_sitter/parser.h
Labels: none

chore: plan Go offline build proof
  .flow/features/0037_tree-sitter-go-offline-build-proof/feature.yaml
  .flow/features/0037_tree-sitter-go-offline-build-proof/prd.md
  .flow/project.yaml
Labels: none

chore: prepare Go build proof
  .flow/features/0037_tree-sitter-go-offline-build-proof/feature.yaml
Labels: none

feat: add Go offline build proof
  .flow/features/0037_tree-sitter-go-offline-build-proof/feature.yaml
  .flow/project.yaml
  .github/workflows/ci.yml
  build.zig
  docs/tree-sitter-go-offline-build-proof.md
  tests/tree_sitter_go_build_proof.zig
Labels: ci

chore: plan Go symbol extraction proof
  .flow/features/0038_tree-sitter-go-symbol-extraction-proof/feature.yaml
  .flow/features/0038_tree-sitter-go-symbol-extraction-proof/prd.md
  .flow/project.yaml
Labels: none

chore: prepare Go symbol proof
  .flow/features/0038_tree-sitter-go-symbol-extraction-proof/feature.yaml
Labels: none

feat: add Go symbol extraction proof
  .flow/features/0038_tree-sitter-go-symbol-extraction-proof/feature.yaml
  .flow/project.yaml
  .github/workflows/ci.yml
  build.zig
  docs/tree-sitter-go-symbol-extraction-proof.md
  tests/tree_sitter_go_symbol_proof.zig
Labels: ci

chore: plan Go symbol output
  .flow/features/0039_inspect-only-go-symbol-output/feature.yaml
  .flow/features/0039_inspect-only-go-symbol-output/prd.md
  .flow/project.yaml
Labels: none

chore: prepare Go symbol output
  .flow/features/0039_inspect-only-go-symbol-output/feature.yaml
Labels: none

feat: add Go symbol output
  .gitignore
  README.md
  build.zig
  fixtures/expected/explain.txt
  fixtures/expected/go-symbols-caveated.json
  fixtures/expected/go-symbols-empty.json
  fixtures/expected/go-symbols-invalid.json
  fixtures/expected/go-symbols-large-unavailable.json
  fixtures/expected/go-symbols-limit.json
  fixtures/expected/go-symbols-limit.md
  fixtures/expected/go-symbols-limit.txt
  fixtures/expected/go-symbols-missing-unavailable.json
  fixtures/expected/go-symbols-rename-alias.json
  fixtures/expected/go-symbols-symlink-unavailable.json
  fixtures/expected/go-symbols.json
  fixtures/expected/go-symbols.md
  fixtures/expected/go-symbols.txt
  fixtures/expected/line-history-success.txt
  fixtures/expected/symbols-inspect-symbols.txt
  src/explain.zig
  src/main.zig
  src/report.zig
  src/tree_sitter_go.zig
  tests/integration.sh
  tools/setup-fixtures.sh
  tools/validate.sh
Labels: documentation

chore: complete Go symbol output
  .flow/features/0039_inspect-only-go-symbol-output/feature.yaml
  .flow/project.yaml
Labels: none

chore: plan next feature batch
  .flow/features/0040_inspect-only-go-symbol-line-history-evidence/feature.yaml
  .flow/features/0041_tree-sitter-python-grammar-admission-review/feature.yaml
  .flow/project.yaml
Labels: none

chore: plan Go history and Python admission
  .flow/features/0040_inspect-only-go-symbol-line-history-evidence/feature.yaml
  .flow/features/0040_inspect-only-go-symbol-line-history-evidence/prd.md
  .flow/features/0041_tree-sitter-python-grammar-admission-review/feature.yaml
  .flow/features/0041_tree-sitter-python-grammar-admission-review/prd.md
Labels: none

chore: prepare queued
  .flow/features/0040_inspect-only-go-symbol-line-history-evidence/feature.yaml
  .flow/features/0041_tree-sitter-python-grammar-admission-review/feature.yaml
Labels: none

feat: add Go line history
  .flow/features/0040_inspect-only-go-symbol-line-history-evidence/feature.yaml
  .flow/project.yaml
  .gitignore
  README.md
  fixtures/expected/explain.txt
  fixtures/expected/go-line-history-success.json
  fixtures/expected/go-line-history-success.md
  fixtures/expected/go-line-history-success.txt
  src/explain.zig
  src/main.zig
  tests/integration.sh
  tools/setup-fixtures.sh
  tools/validate.sh
Labels: documentation

feat: add Python grammar admission
  .flow/features/0041_tree-sitter-python-grammar-admission-review/feature.yaml
  .flow/project.yaml
  docs/tree-sitter-python-grammar-admission.md
Labels: none

chore: prepare Python source import proof
  .flow/features/0042_tree-sitter-python-source-import-proof/feature.yaml
  .flow/features/0042_tree-sitter-python-source-import-proof/prd.md
  .flow/project.yaml
Labels: none

feat: add Python source import proof
  .flow/features/0042_tree-sitter-python-source-import-proof/feature.yaml
  .flow/project.yaml
  THIRD_PARTY_NOTICES.md
  docs/tree-sitter-python-source-import-evidence.md
  third_party/tree-sitter-python/v0.25.0/IMPORTED_FILES.tsv
  third_party/tree-sitter-python/v0.25.0/LICENSE
  third_party/tree-sitter-python/v0.25.0/PROVENANCE.md
  third_party/tree-sitter-python/v0.25.0/grammar.js
  third_party/tree-sitter-python/v0.25.0/src/grammar.json
  third_party/tree-sitter-python/v0.25.0/src/node-types.json
  third_party/tree-sitter-python/v0.25.0/src/parser.c
  third_party/tree-sitter-python/v0.25.0/src/scanner.c
  third_party/tree-sitter-python/v0.25.0/src/tree_sitter/alloc.h
  third_party/tree-sitter-python/v0.25.0/src/tree_sitter/array.h
  third_party/tree-sitter-python/v0.25.0/src/tree_sitter/parser.h
Labels: none

chore: plan Python Tree-sitter follow-ups
  .flow/features/0043_tree-sitter-python-offline-build-proof/feature.yaml
  .flow/features/0043_tree-sitter-python-offline-build-proof/prd.md
  .flow/features/0044_tree-sitter-python-query-contract-and-fixtures/feature.yaml
  .flow/features/0044_tree-sitter-python-query-contract-and-fixtures/prd.md
  .flow/features/0045_tree-sitter-python-symbol-extraction-proof/feature.yaml
  .flow/features/0045_tree-sitter-python-symbol-extraction-proof/prd.md
  .flow/features/0046_inspect-only-python-symbol-output/feature.yaml
  .flow/features/0046_inspect-only-python-symbol-output/prd.md
  .flow/features/0047_inspect-only-python-symbol-line-history-evidence/feature.yaml
  .flow/features/0047_inspect-only-python-symbol-line-history-evidence/prd.md
  .flow/project.yaml
Labels: none

chore: prepare Python queue
  .flow/features/0044_tree-sitter-python-query-contract-and-fixtures/feature.yaml
  .flow/features/0045_tree-sitter-python-symbol-extraction-proof/feature.yaml
  .flow/features/0046_inspect-only-python-symbol-output/feature.yaml
  .flow/features/0047_inspect-only-python-symbol-line-history-evidence/feature.yaml
Labels: none

feat: add Python build proof
  .flow/features/0043_tree-sitter-python-offline-build-proof/feature.yaml
  .flow/project.yaml
  .github/workflows/ci.yml
  build.zig
  docs/tree-sitter-python-offline-build-proof.md
  tests/tree_sitter_python_build_proof.zig
Labels: ci

feat: add Python query contract
  .flow/features/0044_tree-sitter-python-query-contract-and-fixtures/feature.yaml
  .flow/project.yaml
  build.zig
  docs/tree-sitter-python-query-contract.md
  tests/fixtures/tree_sitter_python_query/empty.py
  tests/fixtures/tree_sitter_python_query/generated.py
  tests/fixtures/tree_sitter_python_query/invalid_partial.py
  tests/fixtures/tree_sitter_python_query/python-symbols.scm
  tests/fixtures/tree_sitter_python_query/supported_subset.py
  tests/fixtures/tree_sitter_python_query/unsupported.md
  tests/tree_sitter_python_query_proof.zig
Labels: none

.github/labeler.yml:

discovery:
  - discovery.rs
  - discovery/*
  - discovery/**/*

test:
  - utilities/*
  - utilities/**/*

documentation:
  - README.md

ci:
  - .github/*
  - .github/**/*
