Repository arsham/git-hotspots, changes with the labels that .github/labeler.yml gives for each.
All labels: discovery, test, documentation, ci

feat(insight): add a crate to intoregate repos
  Cargo.toml
  insight/Cargo.toml
  insight/src/lib.rs
  utilities/Cargo.toml
  utilities/src/lib.rs
Labels: test

feat(hotspots): git-hotspots binary crate
  Cargo.toml
  git-hotspots/Cargo.toml
  git-hotspots/build.rs
  git-hotspots/src/args.rs
  git-hotspots/src/main.rs
Labels: none

feat(parsers): add go grammar and parser
  .gitmodules
  Cargo.toml
  discovery/Cargo.toml
  parser/Cargo.toml
  parser/build.rs
  parser/src/lib.rs
  parser/src/parser/fixtures/go.mod
  parser/src/parser/fixtures/go/method.1.go
  parser/src/parser/fixtures/go/multi_functions.1.go
  parser/src/parser/fixtures/go/no_function.1.go
  parser/src/parser/fixtures/go/one_function.1.go
  parser/src/parser/go.rs
  parser/src/parser/mod.rs
  parser/src/parser/queries/go.scm
Labels: discovery

ref(discovery): use the path of the file
  discovery/src/lib.rs
Labels: discovery

feat(parser,go): add support for methods
  parser/src/parser/fixtures/go/method.1.go
  parser/src/parser/go.rs
  parser/src/parser/mod.rs
  parser/src/parser/queries/go.scm
Labels: none

ref(parser): simplify the required API
  parser/src/parser/go.rs
  parser/src/parser/mod.rs
Labels: none

feat(parser): add lua grammar and parser
  .gitmodules
  git-hotspots/Cargo.toml
  git-hotspots/src/main.rs
  parser/Cargo.toml
  parser/build.rs
  parser/src/parser/fixtures/lua/method.1.lua
  parser/src/parser/fixtures/lua/multi_functions.1.lua
  parser/src/parser/fixtures/lua/no_function.1.lua
  parser/src/parser/fixtures/lua/one_function.1.lua
  parser/src/parser/lua.rs
  parser/src/parser/mod.rs
  parser/src/parser/queries/lua.scm
Labels: none

ci: update submodules
  .github/workflows/integration.yml
  git-hotspots/Cargo.toml
Labels: ci

ref(discovery): use a struct for discovery
  discovery/Cargo.toml
  discovery/src/lib.rs
  git-hotspots/src/args.rs
  git-hotspots/src/main.rs
Labels: discovery

feat: add progress bar
  git-hotspots/Cargo.toml
  git-hotspots/src/args.rs
  git-hotspots/src/main.rs
  parser/Cargo.toml
  parser/src/parser/go.rs
  parser/src/parser/lua.rs
  parser/src/parser/mod.rs
Labels: none

feat: parallelise with rayon
  discovery/Cargo.toml
  discovery/src/lib.rs
  git-hotspots/Cargo.toml
  git-hotspots/src/main.rs
  parser/Cargo.toml
Labels: discovery

style: a bit tighter code
  discovery/src/lib.rs
  git-hotspots/src/args.rs
  git-hotspots/src/main.rs
Labels: discovery

feat(parser,grammars): add support for rust
  .gitmodules
  git-hotspots/src/main.rs
  parser/build.rs
  parser/src/parser/fixtures/rust/method.rs
  parser/src/parser/fixtures/rust/mod.rs
  parser/src/parser/fixtures/rust/multi_functions.rs
  parser/src/parser/fixtures/rust/no_function.rs
  parser/src/parser/fixtures/rust/one_function.rs
  parser/src/parser/mod.rs
  parser/src/parser/queries/rust.scm
  parser/src/parser/rust.rs
Labels: none

ref(buil): improve building process
  parser/build.rs
Labels: none

test(discovery): fix windows tests on CI
  discovery/src/lib.rs
Labels: discovery

ref(parser): use containers for files and filters
  git-hotspots/src/main.rs
  parser/src/parser/go.rs
  parser/src/parser/lua.rs
  parser/src/parser/mod.rs
  parser/src/parser/rust.rs
Labels: none

ref: move tests to their own crates
  discovery/src/lib.rs
  discovery/src/tests.rs
  parser/Cargo.toml
  parser/src/parser/go.rs
  parser/src/parser/go/mod.rs
  parser/src/parser/go/tests.rs
  parser/src/parser/lua.rs
  parser/src/parser/lua/mod.rs
  parser/src/parser/lua/tests.rs
  parser/src/parser/rust.rs
  parser/src/parser/rust/mod.rs
  parser/src/parser/rust/tests.rs
Labels: discovery

test(discovery): fix windows path join
  discovery/src/tests.rs
Labels: discovery

ref: set specific crate names for members
  Cargo.toml
  discovery/Cargo.toml
  discovery/LICENSE
  discovery/src/tests.rs
  git-hotspots/Cargo.toml
  git-hotspots/LICENSE
  git-hotspots/src/main.rs
  insight/Cargo.toml
  insight/LICENSE
  insight/src/lib.rs
  parser/Cargo.toml
  parser/LICENSE
  parser/src/parser/go/mod.rs
  parser/src/parser/go/tests.rs
  parser/src/parser/lua/mod.rs
  parser/src/parser/lua/tests.rs
  parser/src/parser/mod.rs
  parser/src/parser/rust/mod.rs
  parser/src/parser/rust/tests.rs
  utilities/Cargo.toml
  utilities/LICENSE
Labels: discovery, test

ci: improve ci and local dev setup
  .github/workflows/integration.yml
  Cargo.toml
  bacon.toml
Labels: ci

ci: fix windows errors due to split-debuginfo
  Cargo.toml
Labels: none

ci: fix crates.io wildcard dependencies errors
  discovery/Cargo.toml
  parser/Cargo.toml
Labels: discovery

ref(parser): replace TS submodules with crates
  .gitmodules
  Cargo.toml
  parser/Cargo.toml
  parser/build.rs
  parser/src/parser/go/mod.rs
  parser/src/parser/lua/mod.rs
  parser/src/parser/rust/mod.rs
Labels: none

docs: add missing cargo properties
  Cargo.toml
  discovery/Cargo.toml
  git-hotspots/Cargo.toml
  insight/Cargo.toml
  parser/Cargo.toml
  utilities/Cargo.toml
Labels: discovery, test

ci: set minimum rust version to satisfy the CI
  Cargo.toml
Labels: none

docs: fix docs.rs links
  discovery/Cargo.toml
  git-hotspots/Cargo.toml
  insight/Cargo.toml
  utilities/Cargo.toml
Labels: discovery, test

style: fmt the code
  Cargo.toml
  discovery/src/lib.rs
  discovery/src/tests.rs
  git-hotspots/src/main.rs
  insight/src/lib.rs
  parser/Cargo.toml
  parser/src/go/mod.rs
  parser/src/go/tests.rs
  parser/src/lib.rs
  parser/src/lua/mod.rs
  parser/src/lua/tests.rs
  parser/src/rust/mod.rs
  parser/src/rust/tests.rs
  utilities/src/lib.rs
Labels: discovery, test

docs: establish project direction
  .flow/.gitignore
  .flow/briefs/B001_local-first-hotspot-intelligence-cli.yaml
  .flow/features/0001_project-goals-and-planning-briefs/feature.yaml
  .flow/features/0001_project-goals-and-planning-briefs/prd.md
  .flow/migrations.yaml
  .flow/project-memory.md
  .flow/project.yaml
  .flow/roadmap.yaml
  AGENTS.md
  README.md
  docs/planning-handoff.md
Labels: documentation

chore: plan file-level CLI
  .flow/features/0002_file-level-cli-spike/feature.yaml
  .flow/features/0002_file-level-cli-spike/prd.md
  .flow/project.yaml
Labels: none

chore: require real-repo smoke validation
  .flow/features/0002_file-level-cli-spike/feature.yaml
  .flow/features/0002_file-level-cli-spike/prd.md
  .flow/project-memory.md
  AGENTS.md
Labels: none

chore: prepare file-level CLI
  .flow/features/0002_file-level-cli-spike/feature.yaml
Labels: none

feat: add file-level CLI
  .gitignore
  README.md
  build.zig
  fixtures/expected/basic.json
  src/git.zig
  src/main.zig
  src/model.zig
  src/report.zig
  src/scoring.zig
  tests/integration.sh
  tools/setup-fixtures.sh
Labels: documentation

chore: complete file-level CLI
  .flow/features/0002_file-level-cli-spike/feature.yaml
  .flow/project.yaml
Labels: none

chore: plan one-command validation workflow
  .flow/features/0003_one-command-validation-workflow/feature.yaml
  .flow/features/0003_one-command-validation-workflow/prd.md
  .flow/project.yaml
Labels: none

chore: prepare validation workflow
  .flow/features/0003_one-command-validation-workflow/feature.yaml
Labels: none

feat: add one-command validation workflow
  .flow/features/0003_one-command-validation-workflow/feature.yaml
  .flow/project.yaml
  README.md
  build.zig
  tools/validate.sh
Labels: documentation

chore: plan explicit scope filters
  .flow/features/0004_scope-filters-for-useful-hotspot-reports/feature.yaml
  .flow/features/0004_scope-filters-for-useful-hotspot-reports/prd.md
  .flow/project.yaml
Labels: none

chore: prepare scope filter
  .flow/features/0004_scope-filters-for-useful-hotspot-reports/feature.yaml
Labels: none

feat: add scope filters
  .flow/features/0004_scope-filters-for-useful-hotspot-reports/feature.yaml
  .flow/project.yaml
  .gitignore
  README.md
  fixtures/expected/basic.json
  fixtures/expected/scope-filtered.json
  src/git.zig
  src/main.zig
  src/model.zig
  src/report.zig
  tests/integration.sh
  tools/setup-fixtures.sh
  tools/validate.sh
Labels: documentation

chore: plan markdown report export
  .flow/features/0005_markdown-hotspot-report-export/feature.yaml
  .flow/features/0005_markdown-hotspot-report-export/prd.md
  .flow/project.yaml
Labels: none

.github/labeler.yml:

discovery:
  - discovery.rs
  - discovery/*
  - discovery/**/*

test:
  - utilities/*
  - utilities/**/*

documentation:
  - README.md

ci:
  - .github/*
  - .github/**/*
