Repository arsham/git-hotspots, changes with the labels that .github/labeler.yml gives for each.
All labels: discovery, test, documentation, ci

.github/labeler.yml:

discovery:
  - discovery.rs
  - discovery/*
  - discovery/**/*

test:
  - utilities/*
  - utilities/**/*

documentation:
  - README.md

ci:
  - .github/*
  - .github/**/*

feat: add Python symbol proof
  .flow/features/0045_tree-sitter-python-symbol-extraction-proof/feature.yaml
  .flow/project.yaml
  .github/workflows/ci.yml
  build.zig
  docs/tree-sitter-python-symbol-extraction-proof.md
  tests/tree_sitter_python_symbol_proof.zig
Labels: ci

feat: add Python symbol output
  .flow/features/0046_inspect-only-python-symbol-output/feature.yaml
  .flow/project.yaml
  .gitignore
  README.md
  build.zig
  fixtures/expected/explain.txt
  fixtures/expected/python-symbols-empty.json
  fixtures/expected/python-symbols-generated.json
  fixtures/expected/python-symbols-invalid.json
  fixtures/expected/python-symbols-large-unavailable.json
  fixtures/expected/python-symbols-limit.json
  fixtures/expected/python-symbols-limit.md
  fixtures/expected/python-symbols-limit.txt
  fixtures/expected/python-symbols-missing-unavailable.json
  fixtures/expected/python-symbols-rename-alias.json
  fixtures/expected/python-symbols-symlink-unavailable.json
  fixtures/expected/python-symbols.json
  fixtures/expected/python-symbols.md
  fixtures/expected/python-symbols.txt
  src/explain.zig
  src/main.zig
  src/queries/python-symbols.scm
  src/tree_sitter_python.zig
  tests/integration.sh
  tests/tree_sitter_python_symbol_proof.zig
  tools/setup-fixtures.sh
  tools/validate.sh
Labels: documentation

feat: add Python symbol line history
  .flow/features/0047_inspect-only-python-symbol-line-history-evidence/feature.yaml
  .flow/project.yaml
  .gitignore
  README.md
  docs/real-repo-validation.md
  fixtures/expected/explain.txt
  fixtures/expected/python-line-history-success.json
  fixtures/expected/python-line-history-success.md
  fixtures/expected/python-line-history-success.txt
  fixtures/expected/python-symbols-empty.json
  fixtures/expected/python-symbols-generated.json
  fixtures/expected/python-symbols-limit.json
  fixtures/expected/python-symbols-rename-alias.json
  fixtures/expected/python-symbols.json
  fixtures/expected/python-symbols.md
  src/explain.zig
  src/main.zig
  src/tree_sitter_python.zig
  tests/integration.sh
  tools/setup-fixtures.sh
  tools/validate.sh
Labels: documentation

chore: plan JavaScript and TypeScript admissions
  .flow/features/0048_tree-sitter-javascript-grammar-admission-review/feature.yaml
  .flow/features/0048_tree-sitter-javascript-grammar-admission-review/prd.md
  .flow/features/0049_tree-sitter-typescript-grammar-admission-review/feature.yaml
  .flow/features/0049_tree-sitter-typescript-grammar-admission-review/prd.md
  .flow/project.yaml
Labels: none

chore: prepare JavaScript and TypeScript admission
  .flow/features/0048_tree-sitter-javascript-grammar-admission-review/feature.yaml
  .flow/features/0049_tree-sitter-typescript-grammar-admission-review/feature.yaml
Labels: none

feat: add JavaScript admission review
  .flow/features/0048_tree-sitter-javascript-grammar-admission-review/feature.yaml
  .flow/project.yaml
  docs/tree-sitter-javascript-grammar-admission.md
Labels: none

feat: add TypeScript admission review
  .flow/features/0049_tree-sitter-typescript-grammar-admission-review/feature.yaml
  .flow/project.yaml
  docs/tree-sitter-typescript-grammar-admission.md
Labels: none

chore: plan JavaScript Tree-sitter chain
  .flow/features/0050_tree-sitter-javascript-source-import-proof/feature.yaml
  .flow/features/0050_tree-sitter-javascript-source-import-proof/prd.md
  .flow/features/0051_tree-sitter-javascript-offline-build-proof/feature.yaml
  .flow/features/0051_tree-sitter-javascript-offline-build-proof/prd.md
  .flow/features/0052_tree-sitter-javascript-query-contract-and-fixtures/feature.yaml
  .flow/features/0052_tree-sitter-javascript-query-contract-and-fixtures/prd.md
  .flow/features/0053_tree-sitter-javascript-symbol-extraction-proof/feature.yaml
  .flow/features/0053_tree-sitter-javascript-symbol-extraction-proof/prd.md
  .flow/features/0054_inspect-only-javascript-symbol-output/feature.yaml
  .flow/features/0054_inspect-only-javascript-symbol-output/prd.md
  .flow/features/0055_inspect-only-javascript-symbol-line-history-evidence/feature.yaml
  .flow/features/0055_inspect-only-javascript-symbol-line-history-evidence/prd.md
  .flow/project.yaml
Labels: none

chore: define JavaScript queue head
  .flow/project.yaml
Labels: none

feat: add JavaScript source import
  THIRD_PARTY_NOTICES.md
  docs/tree-sitter-javascript-source-import-evidence.md
  third_party/tree-sitter-javascript/v0.25.0/IMPORTED_FILES.tsv
  third_party/tree-sitter-javascript/v0.25.0/LICENSE
  third_party/tree-sitter-javascript/v0.25.0/PROVENANCE.md
  third_party/tree-sitter-javascript/v0.25.0/grammar.js
  third_party/tree-sitter-javascript/v0.25.0/src/grammar.json
  third_party/tree-sitter-javascript/v0.25.0/src/node-types.json
  third_party/tree-sitter-javascript/v0.25.0/src/parser.c
  third_party/tree-sitter-javascript/v0.25.0/src/scanner.c
  third_party/tree-sitter-javascript/v0.25.0/src/tree_sitter/parser.h
Labels: none

chore: complete JavaScript source import
  .flow/features/0050_tree-sitter-javascript-source-import-proof/feature.yaml
  .flow/project.yaml
Labels: none

feat: add JavaScript build proof
  .flow/features/0051_tree-sitter-javascript-offline-build-proof/feature.yaml
  .flow/project.yaml
  .github/workflows/ci.yml
  build.zig
  docs/tree-sitter-javascript-offline-build-proof.md
  tests/tree_sitter_javascript_build_proof.zig
Labels: ci

feat: add JavaScript query fixtures
  .flow/features/0052_tree-sitter-javascript-query-contract-and-fixtures/feature.yaml
  .flow/project.yaml
  build.zig
  docs/tree-sitter-javascript-query-contract.md
  tests/fixtures/tree_sitter_javascript_query/anonymous_exports.js
  tests/fixtures/tree_sitter_javascript_query/commonjs.cjs
  tests/fixtures/tree_sitter_javascript_query/empty.js
  tests/fixtures/tree_sitter_javascript_query/generated.min.js
  tests/fixtures/tree_sitter_javascript_query/invalid_partial.js
  tests/fixtures/tree_sitter_javascript_query/javascript-symbols.scm
  tests/fixtures/tree_sitter_javascript_query/jsx_component.jsx
  tests/fixtures/tree_sitter_javascript_query/supported_subset.mjs
  tests/fixtures/tree_sitter_javascript_query/unsupported.tsx
  tests/tree_sitter_javascript_query_proof.zig
Labels: none

chore: complete JavaScript extraction proof
  .flow/features/0053_tree-sitter-javascript-symbol-extraction-proof/feature.yaml
  .flow/project.yaml
Labels: none

feat: add JavaScript extraction proof
  .github/workflows/ci.yml
  build.zig
  docs/tree-sitter-javascript-symbol-extraction-proof.md
  tests/tree_sitter_javascript_symbol_proof.zig
Labels: ci

feat: add JavaScript inspect symbols
  .gitignore
  README.md
  build.zig
  fixtures/expected/explain.txt
  fixtures/expected/javascript-symbols-anonymous.json
  fixtures/expected/javascript-symbols-commonjs.json
  fixtures/expected/javascript-symbols-empty.json
  fixtures/expected/javascript-symbols-generated.json
  fixtures/expected/javascript-symbols-invalid.json
  fixtures/expected/javascript-symbols-jsx.json
  fixtures/expected/javascript-symbols-large-unavailable.json
  fixtures/expected/javascript-symbols-limit.json
  fixtures/expected/javascript-symbols-limit.md
  fixtures/expected/javascript-symbols-limit.txt
  fixtures/expected/javascript-symbols-missing-unavailable.json
  fixtures/expected/javascript-symbols-rename-alias.json
  fixtures/expected/javascript-symbols-symlink-unavailable.json
  fixtures/expected/javascript-symbols.json
  fixtures/expected/javascript-symbols.md
  fixtures/expected/javascript-symbols.txt
  src/explain.zig
  src/main.zig
  src/queries/javascript-symbols.scm
  src/tree_sitter_javascript.zig
  tests/integration.sh
  tests/tree_sitter_javascript_symbol_proof.zig
  tools/setup-fixtures.sh
  tools/validate.sh
Labels: documentation

chore: complete JavaScript inspect symbols
  .flow/features/0054_inspect-only-javascript-symbol-output/feature.yaml
  .flow/project.yaml
Labels: none

feat: add JavaScript line history
  .flow/features/0055_inspect-only-javascript-symbol-line-history-evidence/feature.yaml
  .flow/project.yaml
  .gitignore
  README.md
  fixtures/expected/explain.txt
  fixtures/expected/javascript-line-history-success.json
  fixtures/expected/javascript-line-history-success.md
  fixtures/expected/javascript-line-history-success.txt
  src/explain.zig
  src/main.zig
  tests/integration.sh
  tools/setup-fixtures.sh
  tools/validate.sh
Labels: documentation

chore: plan TypeScript source import proof
  .flow/features/0056_typescript-tsx-tree-sitter-source-import-proof/feature.yaml
  .flow/features/0056_typescript-tsx-tree-sitter-source-import-proof/prd.md
  .flow/project.yaml
Labels: none

feat: add TypeScript source import
  .flow/features/0056_typescript-tsx-tree-sitter-source-import-proof/feature.yaml
  .flow/project.yaml
  THIRD_PARTY_NOTICES.md
  docs/tree-sitter-typescript-source-import-evidence.md
  third_party/tree-sitter-typescript/v0.23.2/IMPORTED_FILES.tsv
  third_party/tree-sitter-typescript/v0.23.2/LICENSE
  third_party/tree-sitter-typescript/v0.23.2/PROVENANCE.md
  third_party/tree-sitter-typescript/v0.23.2/common/define-grammar.js
  third_party/tree-sitter-typescript/v0.23.2/common/scanner.h
  third_party/tree-sitter-typescript/v0.23.2/tsx/grammar.js
  third_party/tree-sitter-typescript/v0.23.2/tsx/src/grammar.json
  third_party/tree-sitter-typescript/v0.23.2/tsx/src/node-types.json
  third_party/tree-sitter-typescript/v0.23.2/tsx/src/parser.c
  third_party/tree-sitter-typescript/v0.23.2/tsx/src/scanner.c
  third_party/tree-sitter-typescript/v0.23.2/tsx/src/tree_sitter/parser.h
  third_party/tree-sitter-typescript/v0.23.2/typescript/grammar.js
  third_party/tree-sitter-typescript/v0.23.2/typescript/src/grammar.json
  third_party/tree-sitter-typescript/v0.23.2/typescript/src/node-types.json
  third_party/tree-sitter-typescript/v0.23.2/typescript/src/parser.c
  third_party/tree-sitter-typescript/v0.23.2/typescript/src/scanner.c
  third_party/tree-sitter-typescript/v0.23.2/typescript/src/tree_sitter/parser.h
Labels: none

chore: plan TypeScript build proof batch
  .flow/features/0057_typescript-tsx-offline-build-proof/feature.yaml
  .flow/features/0057_typescript-tsx-offline-build-proof/prd.md
  .flow/features/0058_typescript-tsx-query-contract-and-fixtures/feature.yaml
  .flow/features/0059_typescript-tsx-symbol-extraction-proof/feature.yaml
  .flow/features/0060_inspect-only-typescript-tsx-symbol-output/feature.yaml
  .flow/features/0061_inspect-only-typescript-tsx-symbol-line-history-evidence/feature.yaml
  .flow/project.yaml
Labels: none

chore: plan TypeScript extraction proof
  .flow/features/0059_typescript-tsx-symbol-extraction-proof/feature.yaml
  .flow/features/0059_typescript-tsx-symbol-extraction-proof/prd.md
  .flow/project.yaml
Labels: none

chore: plan TypeScript inspect output
  .flow/features/0060_inspect-only-typescript-tsx-symbol-output/feature.yaml
  .flow/features/0060_inspect-only-typescript-tsx-symbol-output/prd.md
  .flow/project.yaml
Labels: none

chore: plan TypeScript line-history evidence
  .flow/features/0061_inspect-only-typescript-tsx-symbol-line-history-evidence/feature.yaml
  .flow/features/0061_inspect-only-typescript-tsx-symbol-line-history-evidence/prd.md
  .flow/project.yaml
Labels: none

chore: plan TypeScript query contract
  .flow/features/0058_typescript-tsx-query-contract-and-fixtures/feature.yaml
  .flow/features/0058_typescript-tsx-query-contract-and-fixtures/prd.md
  .flow/project.yaml
Labels: none

feat: add TypeScript and TSX query fixtures
  .flow/features/0058_typescript-tsx-query-contract-and-fixtures/feature.yaml
  .flow/project.yaml
  build.zig
  docs/tree-sitter-typescript-query-contract.md
  tests/fixtures/tree_sitter_tsx_query/component.tsx
  tests/fixtures/tree_sitter_tsx_query/empty.tsx
  tests/fixtures/tree_sitter_tsx_query/generated.tsx
  tests/fixtures/tree_sitter_tsx_query/invalid_partial.tsx
  tests/fixtures/tree_sitter_tsx_query/tsx-symbols.scm
  tests/fixtures/tree_sitter_tsx_query/unsupported.ts
  tests/fixtures/tree_sitter_typescript_query/common_case.cts
  tests/fixtures/tree_sitter_typescript_query/empty.ts
  tests/fixtures/tree_sitter_typescript_query/generated.min.ts
  tests/fixtures/tree_sitter_typescript_query/invalid_partial.ts
  tests/fixtures/tree_sitter_typescript_query/module_case.mts
  tests/fixtures/tree_sitter_typescript_query/supported_subset.ts
  tests/fixtures/tree_sitter_typescript_query/typescript-symbols.scm
  tests/fixtures/tree_sitter_typescript_query/unsupported.js
  tests/tree_sitter_tsx_query_proof.zig
  tests/tree_sitter_typescript_query_common.zig
  tests/tree_sitter_typescript_query_proof.zig
Labels: none

feat: add TypeScript and TSX build proof
  .flow/features/0057_typescript-tsx-offline-build-proof/feature.yaml
  .flow/project.yaml
  build.zig
  docs/tree-sitter-typescript-build-proof-evidence.md
  tests/tree_sitter_tsx_build_proof.zig
  tests/tree_sitter_typescript_build_proof.zig
Labels: none

feat: add TypeScript and TSX line history
  .flow/features/0061_inspect-only-typescript-tsx-symbol-line-history-evidence/feature.yaml
  .flow/project.yaml
  README.md
  fixtures/expected/explain.txt
  fixtures/expected/typescript-line-history-success.json
  fixtures/expected/typescript-line-history-success.md
  fixtures/expected/typescript-line-history-success.txt
  fixtures/expected/typescript-line-history-tsx.json
  fixtures/expected/typescript-line-history-tsx.md
  fixtures/expected/typescript-line-history-tsx.txt
  src/explain.zig
  src/main.zig
  src/report.zig
  tests/integration.sh
  tools/validate.sh
Labels: documentation

feat: add TypeScript and TSX extraction proof
  .flow/features/0059_typescript-tsx-symbol-extraction-proof/feature.yaml
  .flow/project.yaml
  .github/workflows/ci.yml
  build.zig
  docs/tree-sitter-typescript-symbol-extraction-proof.md
  tests/tree_sitter_tsx_symbol_proof.zig
  tests/tree_sitter_typescript_symbol_proof.zig
Labels: ci

feat: add TypeScript and TSX inspect output
  .flow/features/0060_inspect-only-typescript-tsx-symbol-output/feature.yaml
  .flow/project.yaml
  .gitignore
  README.md
  build.zig
  docs/tree-sitter-typescript-query-contract.md
  docs/tree-sitter-typescript-source-import-evidence.md
  docs/tree-sitter-typescript-symbol-extraction-proof.md
  fixtures/expected/explain.txt
  fixtures/expected/typescript-symbols-common.json
  fixtures/expected/typescript-symbols-empty.json
  fixtures/expected/typescript-symbols-generated.json
  fixtures/expected/typescript-symbols-invalid.json
  fixtures/expected/typescript-symbols-large-unavailable.json
  fixtures/expected/typescript-symbols-limit.json
  fixtures/expected/typescript-symbols-limit.md
  fixtures/expected/typescript-symbols-limit.txt
  fixtures/expected/typescript-symbols-missing-unavailable.json
  fixtures/expected/typescript-symbols-module.json
  fixtures/expected/typescript-symbols-rename-alias.json
  fixtures/expected/typescript-symbols-symlink-unavailable.json
  fixtures/expected/typescript-symbols-tsx.json
  fixtures/expected/typescript-symbols-tsx.md
  fixtures/expected/typescript-symbols-tsx.txt
  fixtures/expected/typescript-symbols.json
  fixtures/expected/typescript-symbols.md
  fixtures/expected/typescript-symbols.txt
  src/explain.zig
  src/main.zig
  src/queries/tsx-symbols.scm
  src/queries/typescript-symbols.scm
  src/tree_sitter_typescript.zig
  tests/integration.sh
  tools/setup-fixtures.sh
  tools/validate.sh
Labels: documentation

chore: plan provider capability docs
  .flow/features/0062_provider-capability-documentation-consolidation/feature.yaml
  .flow/features/0062_provider-capability-documentation-consolidation/prd.md
  .flow/project.yaml
Labels: none

docs: document provider capabilities
  .flow/features/0062_provider-capability-documentation-consolidation/feature.yaml
  .flow/project.yaml
  README.md
  fixtures/expected/explain.txt
  src/explain.zig
  src/main.zig
  tests/integration.sh
  tools/validate.sh
Labels: documentation

chore: plan Rust and Lua grammar admissions
  .flow/features/0063_tree-sitter-rust-grammar-admission-review/feature.yaml
  .flow/features/0063_tree-sitter-rust-grammar-admission-review/prd.md
  .flow/features/0064_tree-sitter-lua-grammar-admission-review/feature.yaml
  .flow/features/0064_tree-sitter-lua-grammar-admission-review/prd.md
  .flow/project.yaml
Labels: none

feat: add Rust grammar admission
  .flow/features/0063_tree-sitter-rust-grammar-admission-review/feature.yaml
  .flow/project.yaml
  docs/tree-sitter-rust-grammar-admission.md
Labels: none

feat: add Lua grammar admission
  .flow/features/0064_tree-sitter-lua-grammar-admission-review/feature.yaml
  .flow/project.yaml
  docs/tree-sitter-lua-grammar-admission.md
Labels: none

chore: plan Lua provider implementation batch
  .flow/features/0065_lua-tree-sitter-source-import-proof/feature.yaml
  .flow/features/0065_lua-tree-sitter-source-import-proof/prd.md
  .flow/features/0066_lua-offline-build-proof/feature.yaml
  .flow/features/0066_lua-offline-build-proof/prd.md
  .flow/features/0067_lua-query-contract-and-fixtures/feature.yaml
  .flow/features/0067_lua-query-contract-and-fixtures/prd.md
  .flow/features/0068_lua-symbol-extraction-proof/feature.yaml
  .flow/features/0068_lua-symbol-extraction-proof/prd.md
  .flow/features/0069_inspect-only-lua-symbol-output/feature.yaml
  .flow/features/0069_inspect-only-lua-symbol-output/prd.md
  .flow/features/0070_lua-current-line-history-evidence/feature.yaml
  .flow/features/0070_lua-current-line-history-evidence/prd.md
  .flow/project.yaml
Labels: none

feat: add Lua inspect output
  .flow/features/0069_inspect-only-lua-symbol-output/feature.yaml
  .flow/project.yaml
  .gitignore
  README.md
  build.zig
  fixtures/expected/explain.txt
  fixtures/expected/lua-symbols-dynamic-table.json
  fixtures/expected/lua-symbols-embedded-dsl.json
  fixtures/expected/lua-symbols-empty.json
  fixtures/expected/lua-symbols-generated.json
  fixtures/expected/lua-symbols-invalid.json
  fixtures/expected/lua-symbols-large-unavailable.json
  fixtures/expected/lua-symbols-limit.json
  fixtures/expected/lua-symbols-limit.md
  fixtures/expected/lua-symbols-limit.txt
  fixtures/expected/lua-symbols-metatable.json
  fixtures/expected/lua-symbols-missing-unavailable.json
  fixtures/expected/lua-symbols-rename-alias.json
  fixtures/expected/lua-symbols-symlink-unavailable.json
  fixtures/expected/lua-symbols.json
  fixtures/expected/lua-symbols.md
  fixtures/expected/lua-symbols.txt
  src/explain.zig
  src/main.zig
  src/queries/lua-symbols.scm
  src/tree_sitter_lua.zig
  tests/integration.sh
  tools/setup-fixtures.sh
  tools/validate.sh
Labels: documentation

feat: add Lua build proof
  .flow/features/0066_lua-offline-build-proof/feature.yaml
  .flow/project.yaml
  build.zig
  docs/tree-sitter-lua-build-proof.md
  tests/tree_sitter_lua_build_proof.zig
Labels: none

feat: add Lua query contract
  .flow/features/0067_lua-query-contract-and-fixtures/feature.yaml
  .flow/project.yaml
  build.zig
  docs/tree-sitter-lua-query-contract.md
  tests/fixtures/tree_sitter_lua_query/assignments.lua
  tests/fixtures/tree_sitter_lua_query/dynamic_table_assignment.lua
  tests/fixtures/tree_sitter_lua_query/embedded_dsl.lua
  tests/fixtures/tree_sitter_lua_query/empty.lua
  tests/fixtures/tree_sitter_lua_query/generated.lua
  tests/fixtures/tree_sitter_lua_query/invalid_partial.lua
  tests/fixtures/tree_sitter_lua_query/lua-symbols.scm
  tests/fixtures/tree_sitter_lua_query/metatable_heavy.lua
  tests/fixtures/tree_sitter_lua_query/supported_subset.lua
  tests/fixtures/tree_sitter_lua_query/unsupported.md
  tests/tree_sitter_lua_query_proof.zig
Labels: none

feat: add Lua line history
  .flow/features/0070_lua-current-line-history-evidence/feature.yaml
  .flow/project.yaml
  .gitignore
  README.md
  fixtures/expected/explain.txt
  fixtures/expected/lua-line-history-success.json
  fixtures/expected/lua-line-history-success.md
  fixtures/expected/lua-line-history-success.txt
  src/explain.zig
  src/git.zig
  tests/integration.sh
  tools/setup-fixtures.sh
  tools/validate.sh
Labels: documentation
