Repository arsham/git-hotspots, changes with the labels that .github/labeler.yml gives for each.
All labels: discovery, test, documentation, ci

.github/labeler.yml:

discovery:
  - discovery.rs
  - discovery/*
  - discovery/**/*

test:
  - utilities/*
  - utilities/**/*

documentation:
  - README.md

ci:
  - .github/*
  - .github/**/*

chore(flow): prepare dedup guardrails
  .flow/briefs/B002_symbol-aware-hotspot-intelligence.yaml
  .flow/features/0108_relationship-deduplication-guardrail-tests/feature.yaml
  .flow/features/0108_relationship-deduplication-guardrail-tests/prd.md
  .flow/project.yaml
Labels: none

test(relationships): guard duplicate relations
  .flow/features/0108_relationship-deduplication-guardrail-tests/feature.yaml
  .flow/project.yaml
  tests/integration.sh
  tools/validate.sh
Labels: none

chore(flow): prepare presentation polish
  .flow/briefs/B002_symbol-aware-hotspot-intelligence.yaml
  .flow/features/0109_relationship-presentation-release-polish/feature.yaml
  .flow/features/0109_relationship-presentation-release-polish/prd.md
  .flow/project.yaml
Labels: none

chore(flow): finalise presentation polish
  .flow/features/0109_relationship-presentation-release-polish/feature.yaml
  .flow/project.yaml
Labels: none

chore(flow): prepare realism audit
  .flow/briefs/B002_symbol-aware-hotspot-intelligence.yaml
  .flow/features/0110_relationship-output-sample-realism-audit/feature.yaml
  .flow/features/0110_relationship-output-sample-realism-audit/prd.md
  .flow/project.yaml
Labels: none

docs(relations): audit sample realism
  docs/relationship-output-sample-realism-audit.md
Labels: none

chore(flow): close realism audit
  .flow/features/0110_relationship-output-sample-realism-audit/feature.yaml
  .flow/project.yaml
Labels: none

chore(flow): prepare zig golden
  .flow/briefs/B002_symbol-aware-hotspot-intelligence.yaml
  .flow/features/0111_realistic-zig-relationship-golden/feature.yaml
  .flow/features/0111_realistic-zig-relationship-golden/prd.md
  .flow/project.yaml
Labels: none

test(fixtures): add realistic Zig golden
  .flow/features/0111_realistic-zig-relationship-golden/feature.yaml
  .flow/project.yaml
  .gitignore
  docs/relationship-output-sample-realism-audit.md
  fixtures/expected/symbol-relationships-zig.json
  fixtures/expected/symbol-relationships-zig.md
  fixtures/expected/symbol-relationships-zig.txt
  tests/integration.sh
  tools/setup-fixtures.sh
  tools/validate.sh
Labels: none

chore(flow): prepare fixture matrix
  .flow/briefs/B002_symbol-aware-hotspot-intelligence.yaml
  .flow/features/0112_relationship-fixture-realism-matrix/feature.yaml
  .flow/features/0112_relationship-fixture-realism-matrix/prd.md
  .flow/project.yaml
Labels: none

docs(relationships): add fixture matrix
  .flow/features/0112_relationship-fixture-realism-matrix/feature.yaml
  .flow/project.yaml
  docs/relationship-fixture-realism-matrix.md
  tools/validate.sh
Labels: none

docs(relations): audit provider caveats
  .flow/features/0114_provider-specific-caveat-wording-audit/feature.yaml
  .flow/project.yaml
  docs/provider-specific-caveat-wording-audit.md
Labels: none

docs(relations): add drilldown examples
  .flow/features/0113_relationship-evidence-drilldown-examples/feature.yaml
  .flow/project.yaml
  README.md
  docs/user-guide.md
  man/git-hotspots.1
Labels: documentation

docs(symbols): explain combined evidence
  .flow/features/0116_historical-symbol-and-relationship-workflow-guide/feature.yaml
  .flow/project.yaml
  CHANGELOG.md
  README.md
  docs/user-guide.md
  man/git-hotspots.1
  tools/validate.sh
Labels: documentation

test(fixtures): expand Go relationship coverage
  .flow/features/0115_relationship-fixture-gap-closures/feature.yaml
  .flow/project.yaml
  docs/provider-specific-caveat-wording-audit.md
  docs/relationship-fixture-realism-matrix.md
  docs/relationship-output-noise-audit.md
  fixtures/expected/go-line-history-success.json
  fixtures/expected/go-line-history-success.md
  fixtures/expected/go-line-history-success.txt
  fixtures/expected/go-symbols-caveated.json
  fixtures/expected/go-symbols-empty.json
  fixtures/expected/go-symbols-invalid.json
  fixtures/expected/go-symbols-large-unavailable.json
  fixtures/expected/go-symbols-limit.json
  fixtures/expected/go-symbols-limit.md
  fixtures/expected/go-symbols-limit.txt
  fixtures/expected/go-symbols-missing-unavailable.json
  fixtures/expected/go-symbols-rename-alias.json
  fixtures/expected/go-symbols-symlink-unavailable.json
  fixtures/expected/go-symbols.json
  fixtures/expected/go-symbols.md
  fixtures/expected/go-symbols.txt
  fixtures/expected/symbol-relationships-go.json
  fixtures/expected/symbol-relationships-go.md
  fixtures/expected/symbol-relationships-go.txt
  tests/integration.sh
  tools/setup-fixtures.sh
  tools/validate.sh
Labels: none

chore(flow): prepare relationship docs batch
  .flow/briefs/B002_symbol-aware-hotspot-intelligence.yaml
  .flow/features/0113_relationship-evidence-drilldown-examples/feature.yaml
  .flow/features/0113_relationship-evidence-drilldown-examples/prd.md
  .flow/features/0114_provider-specific-caveat-wording-audit/feature.yaml
  .flow/features/0114_provider-specific-caveat-wording-audit/prd.md
  .flow/features/0115_relationship-fixture-gap-closures/feature.yaml
  .flow/features/0115_relationship-fixture-gap-closures/prd.md
  .flow/features/0116_historical-symbol-and-relationship-workflow-guide/feature.yaml
  .flow/features/0116_historical-symbol-and-relationship-workflow-guide/prd.md
  .flow/project.yaml
Labels: none

chore(flow): prepare ci pipeline
  .flow/features/0117_github-ci-pipeline-hardening/feature.yaml
  .flow/features/0117_github-ci-pipeline-hardening/prd.md
  .flow/project.yaml
Labels: none

ci(github): use validate-all in workflow
  .flow/features/0117_github-ci-pipeline-hardening/feature.yaml
  .flow/project.yaml
  .github/workflows/ci.yml
Labels: ci

chore(flow): prepare ci reliability
  .flow/features/0118_ci-workflow-reliability-proof/feature.yaml
  .flow/features/0118_ci-workflow-reliability-proof/prd.md
  .flow/project.yaml
Labels: none

chore(flow): finalise feature 0118
  .flow/features/0118_ci-workflow-reliability-proof/feature.yaml
  .flow/project.yaml
Labels: none

docs(relations): add caveat glossary
  README.md
  docs/user-guide.md
  man/git-hotspots.1
  tools/validate.sh
Labels: documentation

docs(relations): polish relationship guidance
  README.md
  docs/provider-specific-caveat-wording-audit.md
  docs/relationship-fixture-realism-matrix.md
  docs/user-guide.md
  man/git-hotspots.1
  tools/validate.sh
Labels: documentation

docs(symbols): clarify evidence boundaries
  README.md
  docs/developer-guide.md
  docs/historical-symbol-fixture-realism-matrix.md
  docs/user-guide.md
  man/git-hotspots.1
  tools/validate.sh
Labels: documentation

chore(flow): prepare historical audit
  .flow/features/0119_historical-symbol-precision-audit/feature.yaml
  .flow/features/0119_historical-symbol-precision-audit/prd.md
  .flow/project.yaml
Labels: none

docs(historical-symbols): add precision audit
  .flow/features/0119_historical-symbol-precision-audit/feature.yaml
  .flow/project.yaml
  docs/historical-symbol-precision-audit.md
Labels: none

docs(symbols): clarify provider fallback states
  docs/historical-provider-state-fixture-gap-audit.md
  docs/historical-symbol-fixture-realism-matrix.md
  docs/user-guide.md
  tools/validate.sh
Labels: none

chore(flow): prepare failed seam proof
  .flow/features/0120_historical-failed-state-seam-proof/feature.yaml
  .flow/features/0120_historical-failed-state-seam-proof/prd.md
  .flow/project.yaml
Labels: none

docs(historical-symbols): prove failed seam
  .flow/features/0120_historical-failed-state-seam-proof/feature.yaml
  .flow/project.yaml
  docs/historical-failed-state-seam-proof.md
Labels: none

chore(flow): prepare failed fixture
  .flow/features/0121_historical-failed-state-fixture-implementation/feature.yaml
  .flow/features/0121_historical-failed-state-fixture-implementation/prd.md
  .flow/project.yaml
Labels: none

test(symbols): cover historical parser failure
  .flow/features/0121_historical-failed-state-fixture-implementation/feature.yaml
  .flow/project.yaml
  docs/historical-failed-state-seam-proof.md
  docs/historical-provider-state-fixture-gap-audit.md
  docs/historical-symbol-fixture-realism-matrix.md
  docs/user-guide.md
  fixtures/expected/historical-symbols.json
  fixtures/expected/historical-symbols.md
  fixtures/expected/historical-symbols.txt
  fixtures/expected/symbols-inspect-symbols.json
  fixtures/expected/symbols-inspect-symbols.md
  fixtures/expected/symbols-inspect-symbols.txt
  fixtures/expected/symbols-limit.md
  fixtures/expected/symbols-limit.txt
  fixtures/expected/symbols-symlink-unavailable.json
  fixtures/expected/symbols-unsupported.json
  tests/integration.sh
  tools/setup-fixtures.sh
  tools/validate.sh
Labels: none

test(symbols): guard historical provider docs
  docs/user-guide.md
  tools/validate.sh
Labels: none

test(validate): extract validation helpers
  tools/validate-doc-surfaces.sh
  tools/validate-historical-symbol-docs.py
  tools/validate-provider-capabilities.py
  tools/validate-relationship-caveats.py
  tools/validate-relationship-fixtures.py
  tools/validate.sh
Labels: none

chore(flow): prepare fallback attribution
  .flow/features/0122_historical-fallback-attribution-improvement/feature.yaml
  .flow/features/0122_historical-fallback-attribution-improvement/prd.md
  .flow/project.yaml
Labels: none

fix(historical): preserve failure budget for Zig
  .flow/features/0122_historical-fallback-attribution-improvement/feature.yaml
  .flow/project.yaml
  src/historical_symbol_attribution.zig
Labels: none

chore(flow): prepare fallback budget matrix
  .flow/features/0123_historical-fallback-budget-regression-matrix/feature.yaml
  .flow/features/0123_historical-fallback-budget-regression-matrix/prd.md
  .flow/project.yaml
Labels: none

test(historical): guard skipped budget semantics
  .flow/features/0123_historical-fallback-budget-regression-matrix/feature.yaml
  .flow/project.yaml
  src/historical_symbol_attribution.zig
Labels: none

chore(flow): prepare fallback pressure
  .flow/briefs/B002_symbol-aware-hotspot-intelligence.yaml
  .flow/features/0124_historical-fallback-pressure-reduction/feature.yaml
  .flow/features/0124_historical-fallback-pressure-reduction/prd.md
  .flow/project.yaml
Labels: none

fix(historical): narrow fallback hunk pressure
  .flow/features/0124_historical-fallback-pressure-reduction/feature.yaml
  .flow/project.yaml
  docs/historical-symbol-fixture-realism-matrix.md
  docs/historical-symbol-precision-audit.md
  docs/user-guide.md
  src/historical_symbol_attribution.zig
  tools/validate-historical-symbol-docs.py
Labels: none

chore(flow): prepare fallback golden
  .flow/briefs/B002_symbol-aware-hotspot-intelligence.yaml
  .flow/features/0125_historical-fallback-pressure-golden-realism/feature.yaml
  .flow/features/0125_historical-fallback-pressure-golden-realism/prd.md
  .flow/project.yaml
Labels: none

test(symbols): add multi-hunk fallback pressure fixture
  .flow/features/0125_historical-fallback-pressure-golden-realism/feature.yaml
  .flow/project.yaml
  docs/historical-symbol-fixture-realism-matrix.md
  docs/historical-symbol-precision-audit.md
  fixtures/expected/historical-symbols.json
  fixtures/expected/historical-symbols.md
  fixtures/expected/historical-symbols.txt
  fixtures/expected/symbols-inspect-symbols.json
  fixtures/expected/symbols-inspect-symbols.md
  fixtures/expected/symbols-inspect-symbols.txt
  fixtures/expected/symbols-limit.md
  fixtures/expected/symbols-limit.txt
  fixtures/expected/symbols-symlink-unavailable.json
  fixtures/expected/symbols-unsupported.json
  tools/setup-fixtures.sh
  tools/validate-historical-symbol-docs.py
Labels: none
